__pycache__/
*.pyc
.DS_Store
output/
.ipynb_checkpoints/
*.log

# Backend
backend/__pycache__/
backend/venv/
backend/.env

# Frontend
web/node_modules/
web/.next/
web/.env*.local
external/

# Models & Data
*.pt
data/*.csv
data/*.zip
data/train_supplement/
